html, body {
  width: 100%;
  height: 100%;
}

body {
  background: white;
}

body, h1, h2 {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2 {
  font-weight: 500;
  margin: 0;
}

h1 {
  font-size: 58px;
  color: #111;
  font-weight: bold;
  margin-bottom: 3px;
}

h2 {
  font-size: 27px;
  color: #555;
}

